// importer bootstrap dans le fichier sass 
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

// importer fortawesome dans le fichier sass + les trois differents type de categorie de fontawesome
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

// @import url('https://fonts.googleapis.com/css?family=Courgette&display=swap')

body 
    background-image: url("../../public/images/main_bg.jpg")
    background-repeat: repeat
    // margin: 0 15%
    
    .contenair
    header
        position: absolute 
        nav 
            .ulnav li
                list-style: none
                transform-style: none
                
                a 
                    color: white
                    &hover
                        background-color: red 
        .contenair2
            position: absolute
            .sombre
            #carouselExampleIndicators
                .carousel-indicators
                    li 
                .carousel-inner
                    opacity: 0.75
                    background-color: black

    .sect1
        background-color: white
        margin-top: 30px
        margin-left: 60px
        margin-right: 60px
        margin-bottom: 30px
        padding-bottom: 170px
        #coin1
            background-image: url("../../public/images/box-left-top.png")
            position: absolute
            top: 10px
            left: 10px
            
        #coin2
            background-image: url("../../public/images/box-right-top.png")
            position: absolute
            top: 10px
            right: 10px
            
        #coin3
            background-image: url("../../public/images/box-bottom_left.png")
            position: absolute
            bottom: 10px
            left: 10px


        #coin4
            background-image: url("../../public/images/box-bottom_right.png")
            position: absolute
            bottom: 10px
            right: 10px
        h1 
            font-family: 'Courgette', cursive
        .contenair3
            .row
                .col-3
                    a
                        font-family: 'Courgette', cursive
    .sect2
       
        .contenair4
            .design
                font-family: 'Courgette', cursive   




        

            
        