// importer bootstrap dans le fichier sass 
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

// importer fortawesome dans le fichier sass + les trois differents type de categorie de fontawesome
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

// @import url('https://fonts.googleapis.com/css?family=Courgette&display=swap')
body 
    background-image: url("../../public/images/main_bg.jpg")
    background-repeat: repeat
    // margin: 0 15%
    
    
    header
        background-image: url('../../public/images/banner1.jpg')
        background-size: cover
        
        
        .opacity
            opacity: 0.75
            background-color: black
        nav 
            .ulnav li
                list-style: none
                transform-style: none
                
                a 
                    color: white
                    &hover
                        background-color: red 
        .contenair2
            .sombre
            #carouselExampleIndicators
                .carousel-indicators
                    li 
                .carousel-inner
                    height: 500px
                .carousel-item
                    .pcarousel
                        font-family: 'Courgette', cursive
                        font-size: 60px
                        margin-top: 15px
                        margin-bottom: 15px
                        padding: 50px
            .dent
                .dentelle
                    background-image: url("../../public/images/bottom_decoration_img.png")
                    height: 10px




    .sect1
        background-color: white
        margin-top: 30px
        margin-left: 60px
        margin-right: 60px
        margin-bottom: 30px
        padding-bottom: 170px
        #coin1
            background-image: url("../../public/images/box-left-top.png")
            position: absolute
            top: 10px
            left: 10px
            
        #coin2
            background-image: url("../../public/images/box-right-top.png")
            position: absolute
            top: 10px
            right: 10px
            
        #coin3
            background-image: url("../../public/images/box-bottom_left.png")
            position: absolute
            bottom: 10px
            left: 10px


        #coin4
            background-image: url("../../public/images/box-bottom_right.png")
            position: absolute
            bottom: 10px
            right: 10px
        h1 
            font-family: 'Courgette', cursive
    .contenair3
        .row
            .col-2
                .nav-pills .nav-link.active, .nav-pills .show > .nav-link
                    border-right: 5px solid #dc3545 
                    border-radius: 0

                    i 
                        color: #dc3545 
                a:hover 
                    border-right: 5px solid #dc3545
                    i 
                        color: #dc3545
                        

                .nav-link
                    font-family: 'Courgette', cursive
                
                    .fas
                        &:active
                            color: #dc3545
                .active
                    background-color: transparent
    .sect2
        background-image: url("../../public/images/team_background.jpg")
        .container
            .design
                font-family: 'Courgette', cursive 
    .sect3
        background-color: white
        .coinn1
            .titreinput
                font-family: 'Courgette', cursive
        .container
            .row
                input, select
                    width: 35vh
                    height: 5vh
                    margin: 15px 0
                    background-color: white
                    border: solid 1px grey
                    border-radius: 25px 
            .btn
                border-radius: 25px
                    
            .container-fluid
                background-image: url("../../public/images/book_table_bg.jpg")
                border-radius: 15px
                background-size: cover


        .blog
            font-family: 'Courgette', cursive 
            .menu 
                background-size: 200px  100px
    .sect4
        background-image: url("../../public/images/testimonials_background.jpg")
        background-size: cover
        padding: 50px
        .client
            .design3
                font-family: 'Courgette', cursive
            .row
                .col-6
                    .row
                        .rgros
                            border-radius: 5px solid white
                        // .col-4 img
                        //     border: 3px solid white
                        .col-7
                            border: 3px solid white

    .sect5
        .red
            .design2
                font-family: 'Courgette', cursive 
    .ftr
        .dent2
            .dentelle2
                background-image: url("../../public/images/footer_bottom_decoration_img.png")
                height: 10px
                
        
        .social
            background-image: url('../../public/images/footer_background.jpg')
            padding:15px
            
            .row
                .col-4
                    .badge
                        font-size:15px
                        .badge-m
                            margin:5px
                            border-radius:50%


    .sect5
        .red
            .container
                border-radius: 10px
                .hr 
                    border-top: 1px solid white
                    
                   